
body{
    margin: 0;
    font-weight: 300;
    background-color: #222;
}
.column{
    float: left;
}
.container{
    width: 80%;
    margin: 0 auto;
}
nav{
    float: right;
}
nav ul{
    margin: 0;
    padding: 0 ;
}
nav li{
    display: inline-block;
    margin-left: 70px;
    padding-top: 25px;
}
nav a{
    color: #444;
    text-decoration: none;
    text-transform: uppercase;

}
h1,nav{
    background-color: aliceblue;
}
h2{
    font-style: italic;
    margin-right: 100px;
}
h2,h3,p{
    color: white;
}
h1{
    font-family: 'Times New Roman', Times, serif;
    font-size: 36pt;
    margin-left: 0px;
    padding-left: 350px;
}
h3{
    font-family: 'Times New Roman', Times, serif;
    font-size: 30pt;
}
p{
    font-size: 10pt;
}
main a{
    font-size: 12pt;
    color: white;
}
main{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    border-radius: 10px;
    margin-left: 100px;
}
aside{
    background-color: white;
    border-radius: 10px;
}
footer{
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    color: #fff;
    padding: 10px;
    border-radius: 10px;
    
}
.gallery-img{
    float: left;
    width: 30%;
    padding: 30px;
}

#img-gallery{
    padding-top: 10px;
}
#img-gallery .row{
    margin-bottom: 20px;
}
.gallery-img[src = "images/madelyncline.png"]{
    height: 30%;
}
table{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
table td, table th{
    border: #f0f0f0;
    border-radius: 2px;
}
table tr:nth-child(even){
    background-color: #f2f2f2;
}
table tr:hover{
    background-color: grey;
}
table th{
    background-color: black;
    color: white;
}